* {
  margin: 0;
  box-sizing: border-box;
}

/* Global Styling */

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* Left Menu Styling */

.left-menu-container {
  min-width: 300px;
  max-width: 350px;
  height: 100%;
  border: 1px solid #dfdfdf;
}

.logo-container {
  width: 100%;
  height: 30%;
  min-height: 175px;
  max-height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfdfdf;
}

.logo-image {
  width: 250px;
  height: 150px;
}

.links-container {
  width: 100%;
  height: 70%;
}

.link-button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border: 1px solid #dfdfdf;
}

.link-image {
  width: 28px;
  height: 28px;
  margin-left: 30px;
}

.link-text {
  font-size: 20px;
  margin-left: 15px;
}

.link-button:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

/* Top Menu Styling */

.top-menu-container {
  width: 100%;
  height: 20%;
  background-color: red;
}